.footer {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .footer {
    display: block;
    background: var(--bg11);
  }

  .top {
    padding-top: 70px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bdr11);
  }

  .about {
    margin-bottom: 28px;
    color: var(--txt12);
    line-height: 26px;
    font-size: 14px;
    max-width: 314px;
  }

  .social {
    display: flex;
  }

  .social a {
    margin-right: 19px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .social a svg {
    width: 16px;
    height: 16px;
    fill: var(--txt12);
    transition: fill 250ms ease-in-out;
  }

  .social a:hover svg {
    fill: var(--main-color);
  }

  .title {
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--txt12);
  }

  .app {
    display: flex;
  }

  .app a {
    margin-right: 15px;
    font-size: 0;
  }

  .app img {
  }

  .links {
    display: flex;
    flex-direction: row;
  }

  .links li {
    display: block;
    line-height: 1;
    margin-bottom: 10px;
    margin-right: 17px;
  }

  .links a {
    color: var(--txt12);
    font-size: 14px;
    line-height: 1;
  }

  .links a:hover {
    text-decoration: underline;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 0;

    flex-direction: row;
    justify-content: space-between;
  }

  .copyright {
    font-size: 14px;
    color: var(--txt12);
    margin-bottom: 12px;
  }

  .copyright span {
  }

  .copyright a {
    color: var(--main-color);
  }

  .copyright a:hover {
    text-decoration: underline;
  }

  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    order: -1;
  }

  .menu li {
    margin-bottom: 12px;
    margin-right: 17px;
    margin-right: 12px;
    margin-left: 11px;
    margin-bottom: 0;
    position: relative;
  }

  .menu li::after {
    content: "";
    width: 1px;
    height: 14px;
    background-color: var(--txt13);
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translateY(-50%);
  }

  .menu li:first-child {
    margin-left: 0;
  }
  .menu li:last-child {
    margin-right: 0;
  }
  .menu li:last-child::after {
    display: none;
  }

  .menu li a {
    font-size: 14px;
    color: var(--txt12);
  }

  .menu li a:hover {
    text-decoration: underline;
  }

  .credit {
    font-size: 14px;
    color: var(--txt12);
  }

  .credit a {
    color: var(--main-color);
  }

  .credit a:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    margin-bottom: 30px;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .links li {
    margin-bottom: 17px;
    margin-right: 0;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    margin-bottom: 0;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    order: unset;
  }

  .menu li {
    margin-right: 12px;
    margin-left: 11px;
    margin-bottom: 0;
  }
}
