.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease-in-out;
  overflow: hidden;
  background: var(--bg11);
  padding-top: 54px;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  right: 0;
}

.header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg11);
  z-index: 99;
  box-shadow: var(--bs21);
  border-bottom: 1px solid var(--bdr11);
}

.header_inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 54px;
}

.icon {
  padding: 0 !important;
  width: 24px;
  height: 24px;
  justify-content: flex-start !important;
  align-items: center !important;
  display: flex !important;
  cursor: pointer;
}

.icon svg {
  width: 24px;
  height: 24px;
  fill: var(--txt12);
}

.title {
  margin-left: 10px;
  font-size: 16px;
  color: var(--txt00);
}

.content {
  height: 100%;
  margin-right: -24px;
  padding-right: 39px;
  padding-left: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content_inner {
  padding-bottom: 15px;
}

// modal animation update
.modal {
  right: 0;
  transform: scale(0.93);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.modal.open {
  transform: scale(1);
}
