.item {
  width: 100%;
  padding: 18px 15px 18px 65px;
  position: relative;
  background: var(--bg11);
  border-radius: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.number {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--txt11);
  background: var(--bg22);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 15px;
}

.left {
  width: 55%;
}

.name {
  display: -webkit-box;
  color: var(--txt11);
  font-size: 16px;
  font-weight: 800;
  font-family: "AponaLohit";
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom {
  font-size: 14px;
  color: var(--txt13);
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right {
  font-family: "PDMSIslam";
  font-size: 22px;
  color: var(--txt11);
  text-align: right;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 1024px) {
  .item {
    padding: 30px 20px 30px 75px;
    border-radius: 4px;
    // border: 1px solid var(--bdr11);
  }
  .item:hover {
    box-shadow: var(--bs11);
  }
  .number {
    width: 38px;
    height: 38px;
    left: 20px;
    font-size: 16px;
  }
  .left {
    width: 60%;
  }
  .name {
    font-size: 17px;
  }
  .bottom {
    font-size: 14px;
    // text-transform: uppercase;
  }
}
