.parent {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .parent {
    display: block;
  }

  .search {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 560px;
    margin: 50px auto 10px auto;
  }

  .search input[type="text"] {
    outline: none;
    appearance: none;
    width: 100%;
    min-width: 0;
    line-height: 44px;
    font-weight: 400;
    border: 3px solid transparent;
    border-right: none;
    background-color: var(--bg11);
    border-radius: 50px 0 0 50px;
    padding-left: 24px;
    font-size: 14px;
    text-align: left;
    color: var(--txt12);
  }

  .search input[type="text"]:hover {
    border-color: var(--bdr13);
  }

  .search input[type="text"]:focus {
    border-color: var(--bg21);
  }

  .search input[type="submit"] {
    display: inline-flex;
    align-items: center;
    padding: 12px 25px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 0 50px 50px 0;
    outline: none;
    cursor: pointer;
    user-select: none;
    color: var(--bdr13);
    background-color: var(--bg21);
    z-index: 2;
    font-weight: 400;
    white-space: nowrap;
  }
}
