.item {
  background-color: var(--bg11);
  //border-radius: 8px;
  //box-shadow: 0px 7px 13px rgba(71, 88, 114, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}

.item h2 {
  color: var(--txt00);
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 18px;
}

.item p {
  color: var(--txt11);
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
}

.item a {
  display: flex;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 18px;
  align-items: center;
}

.item a span:nth-child(1) {
  color: var(--txt12);
  transition: color 250ms ease;
}

.item a span:nth-child(2) {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.item a span:nth-child(2) svg {
  fill: var(--txt12);
  transition: fill 250ms ease;
  width: 20px;
  height: 20px;
}

.item a:hover span:nth-child(1) {
  color: var(--main-color);
}

.item a:hover span:nth-child(2) svg {
  fill: var(--main-color);
}
