.video {
  position: relative;
  padding-top: 56%;
  margin-bottom: 0;
  background-color: var(--bg11);
}

.video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.quran_content {
  padding: 15px;
}

.quran_content h2 {
  color: var(--txt00);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}

.quran_content p {
  margin-bottom: 20px;
}

.video_wrapper {
}

.video_block {
  padding-bottom: 15px;
  padding-top: 30px;
  border-top: 1px solid var(--bdr11);
}

.video_block h2 {
  padding: 10px 5px 0px 5px;
  color: var(--txt00);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .video {
    margin-bottom: 20px;
  }

  .video_block h2 {
    padding: 0px;
  }

  .quran_content {
    padding: 0px;
  }
}
