.wrapper {
}

.page_title {
  display: none;
}

.page_item {
  display: block;
  margin-bottom: 10px;
  background-color: var(--bg11);
  //border-radius: 8px;
  //box-shadow: 0px 7px 13px rgba(71, 88, 114, 0.3);
  //padding: 22px;
}

.page_item:last-child {
  margin-bottom: 0;
}

.page_item h2 {
  font-size: 20px;
  margin-bottom: 12px;
  color: var(--txt00);
  font-weight: bold;
}

.page_item p {
  font-size: 18px;
  color: var(--txt11);
}

@media only screen and (min-width: 1024px) {
  .page_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background: var(--bg12);
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    color: var(--txt11);
    font-weight: normal;
  }

  .page_item {
    background-color: transparent;
    padding: 0;
    margin-bottom: 32px;
  }
}
