.page_width {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 1024px) {
  .page_width {
    max-width: 1280px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
  }
}
