.scrollbar {
  overflow-y: auto !important;
  transition: all 250ms ease;
}

// firefox
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar:hover {
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

// chrome
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
