.root {
  display: block;
}

.backdrop {
  opacity: 0.9 !important;
}

.modal {
  width: 90%;
  max-width: 518px;
  background-color: var(--bg11);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 32px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--bg12);
  transition: all 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
}

.close:hover {
  opacity: 1;
}

.close svg {
  width: 22px;
  height: 22px;
  fill: var(--txt12);
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed var(--bdr11);
  line-height: 1;
  color: var(--txt00);
}

.lists {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.item {
  padding: 5px;
}

.item button {
  display: flex;
}

.item button svg {
  width: 48px;
  height: 48px;
}
