.root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.root * {
  pointer-events: none;
}

.switcher {
  width: 35px;
  height: 20px;
  position: relative;
  display: block;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
  appearance: none;
  background-color: var(--bg11);
  border: 1px solid #dfdfdf;
  box-shadow: #dfdfdf 0px 0px 0px 0px inset;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
}

.switcher.checked {
  box-shadow: var(--main-color) 0px 0px 0px 10px inset;
  box-shadow: var(--bsc11) 0px 0px 0px 10px inset;
  border-color: var(--main-color);
  background-color: var(--main-color);
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s,
    background-color 1.2s ease 0s;
}

.switcher::after {
  content: "";
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  transition: background-color 0.4s ease 0s, left 0.2s ease 0s;
}

.switcher.checked::after {
  left: 20px;
  transition: background-color 0.4s ease 0s, left 0.2s ease 0s;
}

.label {
  margin-left: 14px;
  color: var(--txt12);
  font-size: 14px;
}
