:root {
  --clr11: #1db296;
  --bg21: #eff1f2;
  --bdr12: #eff1f2;
  --cbg: #fff;
  --snib: #e7e7e9;
  --snbs: #1db296;

  --theme-color: #1f7ef9;

  --main-color: #4dd2b5; // main theme color
  --txt00: #000000; // arabic text color
  --txt11: #2e3031; // bold text
  --txt12: #666666; // normal text
  --txt13: #9eabbe; // light text

  --bg11: #ffffff; // main bg
  --bg12: #f4f4f4; // main bg rev
  --bg21: #444444;
  --bg22: #eeeeee; // icon bg

  --bdr11: #e8e8ea;
  --bdr12: #e8e8ea;
  --bdr13: #cfcfcf;
  --bdr14: #eff1f2;

  --bs11: 0 5px 30px rgba(0, 0, 0, 0.2); // card shadow 1
  --bs21: 0 2px 4px -2px rgba(0, 0, 0, 0.06); // header, footer etc.

  --scrollbar-thumb: #a8a8a8;

  --hbnc1: #e80013;
  --hbnc2: #fce802;

  // update
  --theme-color: #4dd2b5;
  --main-color: #4dd2b5;
  --bsc11: #4dd2b5;
}

.dark {
  --bg11: #232a3b;
  --bg12: #293145;
  --bg21: #25262c;
  --bg22: #313a55;
  --txt00: #ffffff;
  --txt11: rgba(226, 232, 240, 1);
  --txt12: #ffffff;
  --bdr11: #313a55;
  --bdr12: #313a55;
  --bs11: 0px 3px 15px #293145;
  --cbg: #33363c;
  --snib: #888888;
  --snbs: #737c84;

  --hbnc1: #2b395d;
  // --hbnc2: #2b395d;
  --hbnc2: #909090;

  // update
  --main-color: #ffffff;
  --bsc11: #313a55;
}

.blue {
  --clr11: #1db296;
  --bg21: #eff1f2;
  --bdr12: #eff1f2;
  --cbg: #fff;
  --snib: #e7e7e9;
  --snbs: #1db296;

  --theme-color: #1f7ef9;

  --main-color: #1f7ef9; // main theme color
  --txt00: #000000; // arabic text color
  --txt11: #2e3031; // bold text
  --txt12: #666666; // normal text
  --txt13: #9eabbe; // light text

  --bg11: #ffffff; // main bg
  --bg12: #f4f4f4; // main bg rev
  --bg21: #444444;
  --bg22: #eeeeee; // icon bg

  --bdr11: #e8e8ea;
  --bdr12: #e8e8ea;
  --bdr13: #cfcfcf;
  --bdr14: #eff1f2;

  --bs11: 0 5px 30px rgba(0, 0, 0, 0.2); // card shadow 1
  --bs21: 0 2px 4px -2px rgba(0, 0, 0, 0.06); // header, footer etc.

  --scrollbar-thumb: #a8a8a8;
}
.orange {
  --bg11: #232a3b;
  --bg12: #293145;
  --bg21: #25262c;
  --bg22: #313a55;
  --txt00: #ffffff;
  --txt11: rgba(226, 232, 240, 1);
  --txt12: #ffffff;
  --bdr11: #313a55;
  --bdr12: #313a55;
  --bs11: 0px 3px 15px #293145;
  --cbg: #33363c;
  --snib: #888888;
  --snbs: #737c84;
}
.red {
  --clr11: #1db296;
  --bg21: #eff1f2;
  --bdr12: #eff1f2;
  --cbg: #fff;
  --snib: #e7e7e9;
  --snbs: #1db296;

  --theme-color: #1f7ef9;

  --main-color: #1f7ef9; // main theme color
  --txt00: #000000; // arabic text color
  --txt11: #2e3031; // bold text
  --txt12: #666666; // normal text
  --txt13: #9eabbe; // light text

  --bg11: #ffffff; // main bg
  --bg12: #f4f4f4; // main bg rev
  --bg21: #444444;
  --bg22: #eeeeee; // icon bg

  --bdr11: #e8e8ea;
  --bdr12: #e8e8ea;
  --bdr13: #cfcfcf;
  --bdr14: #eff1f2;

  --bs11: 0 5px 30px rgba(0, 0, 0, 0.2); // card shadow 1
  --bs21: 0 2px 4px -2px rgba(0, 0, 0, 0.06); // header, footer etc.

  --scrollbar-thumb: #a8a8a8;
}
