.lists {
  width: 100%;
  position: relative;
  padding: 15px 15px 0 15px;
}

// .list {
//   position: relative;
//   padding: 18px;
//   padding-left: 70px;
//   background: var(--bg11);
//   margin-bottom: 10px;
//   border-radius: 7px;
//   cursor: pointer;
//   transition: all 0.3s ease;
// }

// .list:hover {
//   transform: scale(1.05);
//   z-index: 1;
//   box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
//     0 -10px 10px -5px rgba(0, 0, 0, 0.04);
// }

// .list.active {
//   border: 1px solid var(--clr11);
// }
