.side_nav {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .side_nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul.side_menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 16px;
  }

  ul.side_menu li {
  }

  ul.side_menu li button {
    display: block;
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 0;
    transition: all 0.3s ease;
    border: 1px solid var(--snib);
    border-radius: 6px;
    margin: 4px 0;
    background: var(--cbg);
  }

  ul.side_menu li button:hover {
    border: 1px solid #ddd;
    background: none;
  }

  ul.side_menu li button span,
  ul.side_menu li button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.side_menu li button svg {
    width: 16px;
    height: 16px;
    fill: var(--txt11);
  }
}
