.top {
  border-bottom: none;
}
.title {
  margin-bottom: 0;
}

.title h2 {
  margin-bottom: 5px;
}

.title h4 {
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--bdr14);
}

.content {
  width: 100%;
  padding: 15px;
  padding-top: 5px;
}
