.sidenav {
  width: 300px;
  height: 100%;
  background-color: var(--bg12);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}
.sidenav.bg_r {
  background-color: var(--bg11);
}

.top {
  background-color: var(--bg11);
  width: 100%;
  padding-top: 20px;
  border-bottom: 1px solid var(--bdr12);
}

.close {
  position: absolute;
  top: 20px;
  right: 15px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #eff1f2;
  transition: all 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
}

.close:hover {
  background-color: #e1e5e7;
}

.close svg {
  width: 22px;
  height: 22px;
  fill: #223645;
}

.title {
  padding: 0 50px 0 15px;
  width: 100%;
  margin-bottom: 15px;
}

.title h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--txt11);
}

.title h4 {
  font-size: 15px;
  font-weight: 400;
  color: #647589;
  color: var(--txt13);
  margin-top: -5px;
}

.none {
  display: none;
}

.loader {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
